body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7ebeb;
    color: #333;
}

.Textoprincipal {
    text-align: center;
    margin-top: 20px;
}

.textone {
    font-size: 2em;
    color: #333;
}

.form-container, .form-container2, .form-container3 {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.form-container h2, .form-container2 h2, .form-container3 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #dfe209;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cec817;
    
}

#btn-add1, #btn-add2, #btn-add3 {
    display: block;
    margin: 10px 0;
}
#btn-dijkstra-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
    padding: 20px;
}

#allLocation, #dfs-list {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

#location-list {
    margin-top: 10px;
}


#placesTable {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    max-width: 500px;
}

#placesTable tbody {
    background-color: #fff;
}

#placesTable td, #placesTable th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#placesTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#placesTable tr:hover {
    background-color: #f1f1f1;
}
